.CategoryCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px ;
    margin-top:40px;
}

.CategoryPhoto{
    height: 200px;
    width:100%;
}

#CategoryHeading{
    font-size: 3rem;
    display: flex;
    margin-top: 60px;
    font-weight: 800;
    color: rgb(222, 223, 220);
}